
.navbar-container{
    background-color: black;
    color: #fff;
    padding: 25px 20px;
    font-size: 30px;
    text-align: center;
}

.nav-menu{
    color: #000;
    text-decoration: none;
    padding: 3px 10px;
    margin: 55px 65px;
    border-radius: 5px;
}